<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>VIN照片</title>
    <link href="../../css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../css/common.css" type="text/css" charset="utf-8"/>
</head>
<style>
	.sw-no-active,.sw-no-active:active{ 
		background: #FFFFFF;
	}
	.sw-icon-ca{
		position: absolute;right: 2px;top: 12px;width: 14px;height: 14px;background: url(../../../image/person/purchase/icon_zp_cha.png) no-repeat;background-size: contain;
	}
	.sw-scope-box{
		background: none;
	}
	.sw-scope-box:after,.sw-scope-box:before{
		height: 0;
	}
</style>
<body style="background: #EFEFEF;">
	
	<header class="mui-bar mui-bar-nav">
	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	    <h1 class="mui-title"></h1>
	</header>
	
	<div class="mui-content" style="background: #EFEFEF;"> 
		<input type="hidden" id="ckjl.id" name="ckjl.id" value="429">  
		<div style="width: 100%;background: #FFFFFF;margin-top: 10px;">		
			<p style="line-height: 24px;margin-bottom: 0;padding: 6px 15px 0;font-size: 16px;color: #333333;">图片</p>
			<ul class="mui-table-view mui-grid-view sw-scope-box" style="">
				<li class="mui-table-view-cell mui-media mui-col-sm-33">
					<label>
						<img class="mui-media-object" id="imgSrc" src="../../image/person/purchase/tianjiazp.png">
						<input id="uploadImg" type="file" name="file"  lay-ext="jpg|png|gif" style="height:0;width:0">
					</label>
				</li>
			</ul>
		</div>	 
	</div>
	
</body>
 <script src="../../js/mui.min.js"></script>
 <script src="../../js/global.js?1.1"></script>
  <script src="../../js/jquery.min.js"></script>
<!--图片上传-->
<script src="../../js/layui2.0/layui.all.js" charset="utf-8"></script>
<script>
    var imgH = $("#imgSrc").width();
    $("#imgSrc").css('height',imgH+'px');
    //图片初始化操作
    layui.upload.render({
        url: imgUploadImg,
        elem:"#uploadImg"
        ,multiple:false
        ,auto:false
        ,choose:function (obj) {
            console.log(222)
            var files = '';
            //获取已上传文件数量
            var imgNum  = $('.ma-img-list').find("li").length;
            files = obj.pushFile();
            //预读本地文件，如果是多文件，则会遍历。(不支持ie8/9)
            obj.preview(function(index, file, result){
                obj.upload(index, file);
            });
        },done: function(rData){

            if(rData.status==200)
            {
                $("#imgSrc").attr('src',imgUrl+rData.url);
                //将数据保存到本地
                JsonStorage.setItem('face_pic',rData.url);
                //刷新父级标记
                JsonStorage.setItem('pIImg','1');//父级刷新标记
            }
        },error: function(index, upload){
            console.log(index);
            console.log(upload);
        }
    });
</script>
</html>